{%extends 'base.html'%}
{% load static %}
{% block content %}
{% load bootstrap4 %}
{{block.super}}

<br>
<br>
<br>


<div class="container">
  <div class="row">
    {% for neighbourhood in neighbourhoods %}
    <div class="col-md-4">

      <div class="w3-card" style="width:100%; overflow:hidden;">
        <header class="w3-container w3-light-grey">
          <hr>
          <h4>{{ neighbourhood.name }}</h4>
          <p class='article-content'>location: {{ neighbourhood.location }}</p>
        </header>
        <br>
        <div class="w3-container">
          <img src="{{ neighbourhood.image.url }}" alt="image" style="width:100%;">
        </div>
        <footer class="w3-container">
          <br>
          <a href="{%url 'detail' neighbourhood.id %}" style="text-decoration:none;"><button class="btn btn-outline-primary center-block">view</button></a>
          <br>
        </footer>
      </div>
      <br><br><br><br>


    </div>
    {%endfor%}
  </div>

</div>
  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="ronny pt-4">
      <p>Contact:<br>
         Mountainplace@gmail.com</p>
        
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="ronny pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="ronny footer-copyright py-3">
      <p>© 2019 Copyright</p>
    
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

{% endblock %}
